h2 {
  margin: 0.3em 0;
  font-size: 2em;
}

button {
  width: 80%;
  margin: 0.5em 1em 0.5em 1em;
  border: none;
  border-radius: 0.4em;
  height: 50px;
  font-size: 1.5em;
  text-align: center;
}

button.login {
  background-color: green;
}

button.sign-up {
  background-color: blue;
}

input {
  width: 80%;
  margin: 0.5em 1em 0.5em 1em;
  height: 50px;
  font-size: 1.5em;
  text-align: center;
  border-width: 0 0 1px 0;
  border-bottom-color: grey;
  border-style: solid;
}