/* You can add global styles to this file, and also import other style files */

@import './styles-reset.css';

input,
label,
select,
button,
textarea,
h1, h2, h3, h4, h5, h6
{
  margin:0;
  border:0;
  padding:0;
  display:inline-block;
  vertical-align:middle;
  white-space:normal;
  -webkit-appearance: none;
  outline: none;
  font-family: BlinkMacSystemFont;
}

body {
  background-color: #F5F3EE;
}
